body {
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.login {
    background-color: lightgray;
    padding: 10px;
    float: right;
    right: 0;
    top: 0;
}

.signup {
    background-color: lightgray;
    padding: 10px;
    float: right;
    right: 0;
    top: 0;
}

.sml-bttn{
    font-size: 12px;
    width: 80px;
    height: 35px;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #47698b;
}

p {
    text-align: center;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.column-left{
    float: left;
    width:50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.column-right{
    float: right;
    width:50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.recipe-header{
    color:rgb(40, 38, 140) !important;
}

.recipe {
    color: rgb(199, 10, 193) !important;
}